[submodule "external/lodepng"]
	path = external/lodepng
	url = https://github.com/lvandeve/lodepng.git
[submodule "external/mnist_png"]
	path = external/mnist_png
	url = https://github.com/myleott/mnist_png.git
[submodule "external/rang"]
	path = external/rang
	url = https://github.com/agauniyal/rang.git
